{% include directory ~ '/partials/header.html.twig' %}

<div class="main-content user-template">

  <div class="cbc-wrap">
    <div class="row">
      <div class="col-md-7">
        {{ page.content }}
      </div>
      <div class="col-md-5">
        <div class="traveluser-slider">
          <h2>Travel Quoter Benefits</h2>
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><p>Human to Human Service</p></div>
              <div class="swiper-slide"><h4>Save</h4><p>Beating online prices by 15% on avarage</p></div>
              <div class="swiper-slide"><h4>Time</h4><p>Save time going around to find your best quote, Quotes will come to you</p></div>
              <div class="swiper-slide"><h4>Membership</h4><p>Become a member and your Inquiries will be saved, you could resend them to agents/friends after modifing them</p></div>
              <div class="swiper-slide"><h4>Loyalty Program</h4><p>Will be in place at the right time to offer points to users, users will be rewarded for using the service</p></div>
              <div class="swiper-slide"><p>Providing all users with a section called "smart Traveller", which will give them all news about the travel destinations they need to go to, and whether it is safe at the time of travel or not, Also the precautions to take while on the trip</p></div>
              <div class="swiper-slide"><p>Travel Quoter could be used from any place to any place in Australia to get a quote at all times</p></div>
              <div class="swiper-slide"><p>Travel Quoter provides a call centre to take calls and help you fill all your needs, this service for all users especially the non internet users</p></div>
              <div class="swiper-slide"><p>It's FREE to use</p></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="travelagent-slider">
          <h2>Travel Quoter Benefits</h2>
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><p>Get more clients on daily basis</p></div>
              <div class="swiper-slide"><p>Retake business back from the online services</p></div>
              <div class="swiper-slide"><p>Deal Direct with Clients</p></div>
              <div class="swiper-slide"><p>Become a member with Travel Quoter which will be working with agent to fill their needs all around the world</p></div>
              <div class="swiper-slide"><p>Travel Quoter will do all marketing to get you all the clients, you are not charged for all marketing campaigns</p></div>
              <div class="swiper-slide"><p>Small monthly fee</p></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

  </div><!--/cbc-wrap-->

</div><!--/main-content-->

{% include directory ~ '/partials/footer.html.twig' %}
