{% include directory ~ '/partials/header.html.twig' %}

<div class="main-content user-login">

  <div class="cbc-wrap">
    <div class="row">
      <div class="col-md-6">
        {{ page.content }}
      </div>
      <div class="col-md-6 benefits">
        <h3>The Benefits of Becoming a Member</h3>
        <ul>
          <li>You can access your trips</li>
          <li>You can email it to your friends</li>
          <li>... and much more</li>
        </ul>
      </div>
    </div>
  </div><!--/cbc-wrap-->

</div><!--/main-content-->

{% include directory ~ '/partials/footer.html.twig' %}
