{% include directory ~ '/partials/header.html.twig' %}

<div class="main-content user-login">

  <div class="cbc-wrap">
    {{ page.content }}
  </div><!--/cbc-wrap-->

</div><!--/main-content-->

{% include directory ~ '/partials/footer.html.twig' %}
